<ul class = event-list>
  <% events.each do |event| %>
    <li>
      <div class="event-owner text-left">
        <% if event.user.image? %>
          <%= image_tag(event.user.image.url(:thumb)) %>
        <% else %>
          <%= image_tag("user.jpg") %>
        <% end %>
        <%= event.user.name %>
      </div>
      <h4 class="text-left"><%= event.title %></h4>
      <div class="event-photo">
        <% if isPicture?(event.files.first.url) %>
          <%= link_to image_tag(event.files.first.url(:medium)), event_path(event) %>
        <% elsif isVideo?(event.files.first.url) %>
          <%= link_to video_tag(event.files.first.url,autoplay: true, loop: true, width: "300px"), event_path(event) %>
        <% end %>
      </div>
      <div class="text-left">
        <p><i class="fas fa-map-marked-alt"></i> <%= event.place %></p>
        <p><i class="fas fa-calendar-alt"></i> <%= event.event_date.strftime("%Y年%m月%d日") %></p>
        <p><i class="fas fa-user-circle"></i> <%= event.recruit_num %>人</p>
      </div>
    </li>
  <% end %>
</ul>
