<div class="user-wrap">
  <div class="user-img">
    <% if user.image? %>
      <%= image_tag(user.image.url) %>
    <% else %>
      <%= image_tag("user.jpg") %>
    <% end %>
  </div>
  <div class="user-info">
    <h5><%= user.name %></h5>
    <p><%= user.intro %></p>
  </div>
</div>
<div class="btn-wrap">
<br>
  <% if user.id == current_user.id %>
  <!-- Button trigger modal -->
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#editUserModal">
      ユーザー情報を編集する
    </button>
    
  <% else %>
    <% if isFriend?(current_user.id,user.id) %>
      <span class="btn btn-secondary">申請済み</span>
    <% else %>
      <%= form_for @relationship, :url => {controller: 'relationships',action: 'create', friend_id: user.id } do |f| %>
       <%= f.submit "友達申請", class: "btn btn-success" %>
      <% end %>
    <% end %>
    <p></p>
    <% if @room.id.nil?  %>
      <button type="button" class="btn btn-info" data-toggle="modal" data-target="#startChatModal">
        チャットを始める
      </button>
    <% else %>
      <%= link_to "チャットする", room_path(@room),class: "btn btn-info" %>
    <% end %>
  <% end %>
</div>

<!--modal-->
<!--modal for edit user-->
<div class="modal fade" id="editUserModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="editUserModalLabel">ユーザー情報を編集する</h4>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_for @user, :url => {controller: 'users', action: 'update'} do |f| %>
          <%= f.file_field :image %>
          <br>
          <%= f.text_field :name, class: "form-control my-form",placeholder: "名前" %>
          <br>
          <%= f.text_area :intro, class: "form-control",placeholder:"自己紹介" %>
          <br>
          <%= f.submit "変更を保存する", class: "btn btn-primary" %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!--modal for start chat-->
<div class="modal fade" id="startChatModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="startChatModalLabel">チャットを始める</h4>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_for @message, :url => {controller:"messages",action: "make",user_id: user.id} do |f| %>
          <%= f.text_field :body, class: "form-control",placeholder: "ここに入力してください" %>
          <br>
          <%= f.submit "送信する", class: "btn btn-primary" %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>