<!--user info-->
<div class="user-wrap">
  <div class="user-img">
    <% if user.image? %>
      <%= image_tag(user.image.url) %>
    <% else %>
      <%= image_tag("user.jpg") %>
    <% end %>
  </div>
  <div class="user-info">
    <h5><strong><%= user.name %></strong></h5>
    <p><small><%= user.intro %></small></p>
  </div>
</div>
<div class="btn-wrap">
<br>
<%= request.remote_ip %>
 <%= render 'share/user_btn', user: user, relationship: relationship %>
</div>