<div class="container">
  <h1 class="text-center">ユーザー一覧</h1>
  <div class="search-win">
    <%= form_tag(users_path, method: "get") do %>
      <%= text_field_tag :search,'',placeholder: 'ユーザー名',class: 'form-control' %>
      <%= submit_tag "検索", class:"btn btn-primary"%>
    <% end %>
  </div>
  
  <!--ユーザーリスト-->
  <%= render 'share/user_list', users: @users, relationship: @relationship %>
</div>

<script>
  $('#startChatModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget);
    var user_id = button.data('user-id');
    var input = document.createElement('input');
    input.type = 'hidden';
    input.name = 'user_id';
    input.value = user_id;
    input.id = 'start-chat'
    var parent = document.getElementById('new_message');
    parent.appendChild(input);
  });
  
  $('#close-modal').click(function(){
    var input = document.getElementById('start-chat');
    input.remove();
  })
</script>

<!--modal to start chat-->
<%= render 'share/startChatModal', message: @message %>

<!--modal to edit user-->
<%= render 'share/editUserModal',user: current_user %>

