<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'share/userInfo', user: current_user %>
    </div>
    <div class="col-md-9">
      <br>
      <!--タブの部分-->
      <ul class="nav nav-tabs nav-justified">
        <li class="active"><a href="#event-tab" data-toggle="tab">Events</a></li>
        <li><a href="#friend-tab" data-toggle="tab">Friends</a></li>
        <li><a href="#chat-tab" data-toggle="tab">Chats</a></li>
      </ul>
      
      <!--タブの中身-->
      <div class="tab-content">
        <div class="tab-pane fade active in" id="event-tab">
          <br>
          <h4 class="text-center">開催イベント</h4>
          <%= render 'share/event', events: @host_events %>
          <h4 class="text-center">参加イベント</h4>
          <%= render 'share/event', events: @events %>
        </div>
        
        <div class="tab-pane fade" id="friend-tab">
          <br>
          <h4 class="text-center">友達</h4>
            <%= render 'friend', friends: @friends %>
          <h4 class="text-center">承認待ち</h4>
            <%= render 'friend', friends: @pre_friends %>
        </div>
        
        <div class="tab-pane fade" id="chat-tab">
          <br>
          <h4 class= 'text-center'>チャットルーム一覧</h4>
          <% @rooms.each do |room| %>
            <h5><%= link_to "#{room.name}", room_path(room) %></h5>
            <% if room.entries.first.user.id == current_user.id %>
              <div class="friend">
                <%= render  'share/user_profile', user: room.entries.second.user %>
              </div>
            <% else %>
            <div class="friend">
              <%= render 'share/user_profile', user: room.entries.first.user %> 
            </div>
            <% end %>
            <hr>
          <% end %>
        </div>
      </div>
      
    </div>
  </div>
</div>

<!--modal-->
<%= render 'share/editUserModal', user: current_user %>