<!--ユーザーリスト-->
<div class="member">
  <ul class="user-list">
    <% members.each do |member| %>
      <li>
        <% if member.user.image? %>
          <%= image_tag(member.user.image.url(:thumb)) %>
        <% else %>
          <%= image_tag("user.jpg") %>
        <% end %>
        <%= member.user.name %>
      
        <% if isFriend?(current_user.id,member.user_id) %>
          <span class="btn btn-secondary">申請済み</span>
        <% else %>
          <%= form_for @relationship, :url => {controller: 'relationships',action: 'create', friend_id: member.user.id } do |f| %>
           <%= f.submit "友達申請", class: "btn btn-success" %>
          <% end %>
        <% end %>
        <% @room = enterRoom(current_user.id,member.user_id) %>
        <% if @room.id.nil?  %>
          <button type="button" class="btn btn-info" data-toggle="modal" data-target="#startChatModal" id="<%=member.user_id%>" >
            チャットを始める
          </button>
        <% else %>
          <%= link_to "チャットする", room_path(@room),class: "btn btn-info" %>
        <% end %>
      </li>
      <hr>
    <% end %>
  </ul>
</div>
