<div class="container">
  <!--event-edit-form-->
  <%= form_for @event do |f| %>
    <h1><%= f.text_field :title, class: "text-center form-control" %></h1>
  <div class="row">
    <!--企画者情報-->
    <div class="col-md-3">
      <h3 class= "text-center">企画者</h3>
      <%= render "share/userInfo", user: @event.user, relationship: @relationship, room: @room %>
    </div>
    
    <!--イベント情報-->
    <div class="col-md-9">
      <div class="article-wrap">
        <ul class="article-files">
          <% file_id = 0 %>
          <% @event.files.each do |file| %>
            <li>
              <% if isPicture?(file.url) %>
                <a href='#' data-toggle="modal" data-target="#replaceFileModal" data-event-id="<%= @event.id %>" data-file-id="<%= file_id %> ">
                  <%= image_tag file.url %>
                </a>
              <% elsif isVideo?(file.url)%>
                <a href='#' data-toggle="modal" data-target="#replaceFileModal" data-event-id="<%= @event.id %>" data-file-id="<%= file_id %>">
                  <%= video_tag file.url, controls: true %>
                </a>
              <% end %>
              <% file_id += 1 %>
            </li>
          <% end %>
        </ul>
        <h4>企画の詳細</h4>
        <p><%= f.text_area :body, class: "form-control" %></p>
        <p><i class="fas fa-map-marked-alt"></i> 場所 <%= f.text_field :place, class: "form-control" %></p>
        <p><i class="fas fa-calendar-alt"></i> 開催日 <%= f.date_field :event_date, class: "form-control" %></p>
        <p><i class="fas fa-calendar-alt"></i> 締切 <%= f.date_field :deadline, class: "form-control" %></p>
        <p><i class="fas fa-user-circle"></i> 人数 <%= f.number_field :recruit_num, class: "form-control" %></p>
      </div>
    </div>
  </div>
  
  <%= f.submit "変更を保存する", class: "btn btn-primary" %>
  <% end %>
  <!--event-edit-formの終わり-->
  
  <%= form_tag change_event_members_path, method: 'post' do %>
  <!--参加者情報-->
  <h4>参加者</h4>
  <%= render 'user_list_for_edit', users: @users %>
  <h4>参加希望者</h4>
  <%= render 'user_list_for_edit', users: @pre_users %>
  
  <%= hidden_field_tag :event_id, @event.id %>
  <%= submit_tag "参加不参加を変更する",class: "btn btn-primary" %>
  <br>
  <% end %>
  <!--change-formのおわり-->
</div>

<script>
  $('#replaceFileModal').on('show.bs.modal', function (event) {
    var anchor = $(event.relatedTarget)
    var file_id = anchor.data('file-id')
    
    var input = document.getElementById('event_file_id')
    input.value = file_id
  });
</script>

<!--modal-->
<!--modal to edit user-->
<%= render 'share/editUserModal', user: current_user %>
<%= render 'share/replaceFileModal', event: @event %>
