<div class="container">
  <h1 class="text-center">イベント一覧</h1>
  <ul class = event-list>
    <% @events.each do |event| %>
      <li>
        <div class="event-owner">
          <% if event.user.image? %>
            <%= image_tag(event.user.image.url(:thumb)) %>
          <% else %>
            <%= image_tag("user.jpg") %>
          <% end %>
          <%= event.user.name %>
        </div>
        <h4><%= event.title %></h4>
        <div class="event-photo">
          <% if isPicture?(event.files.first.url) %>
            <%= link_to image_tag(event.files.first.url(:medium)), event_path(event) %>
          <% elsif isVideo?(event.files.first.url) %>
            <%= link_to video_tag(event.files.first.url,autoplay: true, loop: true, width: "300px"), event_path(event) %>
          <% end %>
        </div>
        <p><i class="fas fa-campground"></i> <%= event.place %></p>
        <p><i class="fas fa-calendar-alt"></i> <%= event.event_date.strftime("%Y年 %m月 %d日") %></p>
        <p><i class="fas fa-male"></i> <%= event.recruit_num %>人</p>
      </li>
    <% end %>
  </ul>
</div>

<!--modal trigger-->
<button type="button" class="btn btn-post" data-toggle="modal" data-target="#newEventModal">
  <i class="fas fa-pen"></i>
</button>

<!--modal-->
<div class="modal fade" id="newEventModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="newEventModalLabel">イベントを作成する</h4>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_for @event do |f| %>
          <h5>タイトル</h5>
          <%= f.text_field :title, class: "form-control my-form", placeholder: "タイトル" %>
          <h5>画像・動画</h5>
          <%= f.file_field :files, multiple: true %>
          <h5>詳細</h5>
          <%= f.text_area :body, class: "form-control", placeholder: "詳細を入力してください" %>
          <h5>場所</h5>
          <%= f.text_field :place, class: "form-control", placeholder: "住所を入力してください" %>
          <h5>人数</h5>
          <%= f.number_field :recruit_num %>
          <h5>開催日</h5>
          <%= f.date_field :event_date %>
          <h5>募集締め切り</h5>
          <%= f.date_field :deadline %>
          <p></p>
          <%= f.submit "企画を作成する", class: "btn btn-primary" %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
