<div class="container">
  <% if current_user.id == @event.user_id %>
    <%= link_to "編集する", edit_event_path(@event), class: "event-header btn btn-primary" %>
  <% else %>
    <% if EventMember.where(user_id: current_user.id ,event_id: @event.id).exists? %>
      <span class="event-header btn btn-secondary">参加済み</span>
    <% else %>
      <%= form_for @event_member do |f| %>
        <%= f.hidden_field :event_id, value: @event.id %>
        <%= f.submit "参加する", class: "event-header btn btn-primary" %>
      <% end %>
    <% end %>
  <% end %>
  
  <h1 class="text-center"><%= @event.title %></h1>
  <div class="row">
    <!--企画者情報-->
    <div class="col-md-3">
      <h3 class= "text-center">企画者</h3>
      <div class="user-wrap">
        <div class="user-img">
          <% if @event.user.image? %>
            <%= image_tag(@event.user.image.url) %>
          <% else %>
            <%= image_tag("user.jpg") %>
          <% end %>
        </div>
        <div class="user-info">
          <h5><%= @event.user.name %></h5>
          <p><%= @event.user.intro %></p>
        </div>
      </div>
      <div class="btn-wrap">
      <br>
      <% if @event.user_id == current_user.id %>
      <!-- Button trigger modal -->
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#editUserModal">
          ユーザー情報を編集する
        </button>
      <% else %>
        <% if isFriend?(current_user.id,@event.user_id) %>
          <span class="btn btn-secondary">申請済み</span>
        <% else %>
          <%= form_for @relationship, :url => {controller: 'relationships',action: 'create', friend_id: @event.user.id } do |f| %>
           <%= f.submit "友達申請", class: "btn btn-success" %>
          <% end %>
        <% end %>
        <p></p>
        <% if @room.id.nil?  %>
          <button type="button" class="btn btn-info" data-toggle="modal" data-target="#startChatModal">
            チャットを始める
          </button>
        <% else %>
          <%= link_to "チャットする", room_path(@room),class: "btn btn-info" %>
        <% end %>
      <% end %>
      </div>
    </div>
    
    <!--イベント情報-->
    <div class="col-md-9">
      <div class="article-wrap">
        <ul class="article-files">
          <% @event.files.each do |file| %>
            <li>
              <% if isPicture?(file.url) %>
                <%= image_tag file.url %>
              <% elsif isVideo?(file.url)%>
                <%= video_tag file.url, controls: true %>
              <% end %>
            </li>
          <% end %>
        </ul>
        <h4>企画の詳細</h4>
        <p><%= @event.body %></p>
        <p><i class="fas fa-map-marked-alt"></i> <%= @event.place %></p>
        <p><i class="fas fa-calendar-alt"></i> <%= @event.event_date.strftime("%Y年%m月%d日") %></p>
        <p><i class="fas fa-user-circle"></i> <%= @event.recruit_num %>人</p>
      </div>
    </div>
  </div>
  
  <!--参加者情報-->
  <h4>参加者</h4>
  <%= render "events/userList", members: @fixed_members %>
  <h4>参加希望者</h4>
  <%= render "events/userList", members: @pre_members %>
  
</div>

<!--modal-->
<!--modal for edit user-->
<div class="modal fade" id="editUserModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="editUserModalLabel">ユーザー情報を編集する</h4>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_for @user, :url => {controller: 'users', action: 'update'} do |f| %>
          <%= f.file_field :image %>
          <br>
          <%= f.text_field :name, class: "form-control my-form",placeholder: "名前" %>
          <br>
          <%= f.text_area :intro, class: "form-control",placeholder:"自己紹介" %>
          <br>
          <%= f.submit "変更を保存する", class: "btn btn-primary" %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!--modal for start chat-->
<div class="modal fade" id="startChatModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="startChatModalLabel">チャットを始める</h4>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_for @message, :url => {controller:"messages",action: "make",user_id: @event.user_id} do |f| %>
          <%= f.text_field :body, class: "form-control",placeholder: "ここに入力してください" %>
          <br>
          <%= f.submit "送信する", class: "btn btn-primary" %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
