<div class="container">
  <% if current_user.id == @event.user_id %>
    <%= link_to "編集する", edit_event_path(@event), class: "event-header btn btn-primary" %>
  <% else %>
    <% if EventMember.where(user_id: current_user.id ,event_id: @event.id).exists? %>
      <span class="event-header btn btn-secondary">参加済み</span>
    <% else %>
      <%= form_for @event_member do |f| %>
        <%= f.hidden_field :event_id, value: @event.id %>
        <%= f.submit "参加する", class: "event-header btn btn-primary" %>
      <% end %>
    <% end %>
  <% end %>
  
  <h1 class="text-center"><%= @event.title %></h1>
  <div class="row">
    <!--企画者情報-->
    <div class="col-md-3">
      <h3 class= "text-center">企画者</h3>
      <%= render "share/userInfo", user: @event.user, relationship: @relationship, room: @room %>
    </div>
  
    <!--イベント情報-->
    <div class="col-md-9">
      <div class="article-wrap">
        <ul class="article-files">
          <% @event.files.each do |file| %>
            <li>
              <% if isPicture?(file.url) %>
                <%= image_tag file.url %>
              <% elsif isVideo?(file.url)%>
                <%= video_tag file.url, controls: true %>
              <% end %>
            </li>
          <% end %>
        </ul>
        <h4>企画の詳細</h4>
        <p><%= @event.body %></p>
        <p><i class="fas fa-map-marked-alt"></i> <%= @event.place %></p>
        <p><i class="fas fa-calendar-alt"></i> <%= @event.event_date.strftime("%Y年%m月%d日") %></p>
        <p><i class="fas fa-user-circle"></i> <%= @event.recruit_num %>人</p>
      </div>
    </div>
  </div>
  
  <!--参加者情報-->
  <h4>参加者</h4>
  <%= render "events/userList", members: @fixed_members %>
  <h4>参加希望者</h4>
  <%= render "events/userList", members: @pre_members %>
  
</div>

<!--modal-->
<!--modal for edit user-->
<%= render 'share/editUserModal', user: current_user %>

<!--modal to start chat -->
<!--user_idの引き渡しができないので保留-->
<!--render 'share/startChatModal',message: @message, user_id:? -->
