<div class="container">
  <h1 class="text-center">投稿一覧</h1>
  <!--tab-->
  <ul class="nav nav-tabs nav-justified">
    <li class="active"><a href="#friend-tab" data-toggle="tab">Friends</a></li>
    <li><a href="#new-tab" data-toggle="tab">New</a></li>
    <li><a href="#hot-tab" data-toggle="tab">Hot</a></li>
  </ul>
  
  <!--content-->
  <div class="tab-content">
    <div class="tab-pane fade active in" id="friend-tab">
      <%=render 'share/post', posts: @friend_posts %>
    </div>
    <div class="tab-pane fade" id="new-tab">
      <%=render 'share/post', posts: @new_posts %>
    </div>
    <div class="tab-pane fade" id="hot-tab">
      <%=render 'share/post', posts: @hot_posts %>
    </div>
  </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-post" data-toggle="modal" data-target="#newPostModal">
  <i class="fas fa-pen"></i>
</button>

<!-- Modal -->
<div class="modal fade" id="newPostModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="newPostModalLabel">新しく投稿する</h4>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_for @post do |f| %>
          <%= f.text_area :body, class: "form-control", placeholder: "ここに入力してください" %>
          <br>
          <%= f.file_field :files, multiple: true %>
          <br>
          <%= f.submit "投稿する", class: "btn btn-primary" %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
