<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'share/userInfo', user: @post.user, relationship: @relationship%>
    </div>
    <div class="col-md-9">
      <div class="article-wrap">
        <ul class="article-files">
          <% @post.files.each do |file| %>
          <li>
            <% if isPicture?(file.url) %>
              <%= image_tag file.url %>
            <% elsif isVideo?(file.url)%>
              <%= video_tag file.url, controls: true %>
            <% end %>
          </li>
          <% end %>
        </ul>
        <p><%= @post.body %></p>
        <small class= "like-icon" >
          <i class="fas fa-heart"></i> <%= @likes.count %>
          <br>
          <div class="timestamp">
            Posted <%= time_ago_in_words(@post.created_at) %> ago.
          </div>
        </small>
      </div>
      <% if @likes.where(user_id: current_user.id).empty? %>
        <%= form_for @like, :url => {controller: 'likes', action: 'create',post_id: @post.id } do |f| %>
          <%= button_tag :type => "submit", :class =>"btn btn-danger" do %>
            Like <i class="fas fa-heart"></i>
          <% end %>
        <% end %>
      <% else %>
        <span class="btn btn-secondary">Like <i class="fas fa-heart"></i></span>
      <% end %>
    </div>
  </div>
</div>

<!--modal for edit user-->
<div class="modal fade" id="editUserModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="editUserModalLabel">ユーザー情報を編集する</h4>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_for @user, :url => {controller: 'users', action: 'update'} do |f| %>
          <%= f.file_field :image %>
          <br>
          <%= f.text_field :name, class: "form-control my-form",placeholder: "名前" %>
          <br>
          <%= f.text_area :intro, class: "form-control",placeholder:"自己紹介" %>
          <br>
          <%= f.submit "変更を保存する", class: "btn btn-primary" %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!--modal for start chat-->
<div class="modal fade" id="startChatModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="startChatModalLabel">チャットを始める</h4>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_for @message, :url => {controller:"messages",action: "make",user_id: @post.user_id} do |f| %>
          <%= f.text_field :body, class: "form-control",placeholder: "ここに入力してください" %>
          <br>
          <%= f.submit "送信する", class: "btn btn-primary" %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
